<!--The content below is only a placeholder and can be replaced.-->
<!--
  <div class="container">
  <form>
   <div class="form-group">
   <h1 class="text-center text-primary">Todo App</h1>
    <div class="input-group-prepend">
        <input type="text" class="form-control" placeholder="Add Todo" name="todo">
     <span class="input-group-text">Add</span>
    </div>
   </div>
  </form>
 </div>
 -->


    <br/>
    <div style="text-align: center;">
        <img [src]="logo" width="200px" height="200px"/>
      
      <br/>
      <form>
        Nom: <input type="text" name="nom" [(ngModel)]="nom"/>
        <input type="button" name="Valider" value="valider" (click)="createListe();"/>
      </form>
      
      <p>
        La liste des Noms est:
        <br>
      </p>

        <ul *ngFor = 'let n of listeNom; let i = index'>
            <li>
              {{i}}: {{n}}
            </li>
        </ul>
    </div> 
<router-outlet></router-outlet>
